

body {padding:0;margin:0; font-family:"微软雅黑"; font-size:0.14rem; color:rgb(51,51,51);overflow-x: hidden; background: #fff;}
a{ text-decoration:none; color:rgb(51,51,51);}
html {
	font-size: 100px;
}
@media(min-width:320px){
	html {
		font-size: 85.315px;
	}
}
@media screen and (min-width:321px) and (max-width:360px) {
	html {
		font-size: 95.9px;
		max-width:360px;
		overflow-x:hidden;
	}
	html .menu_bu{
		max-width:360px;
		overflow-x:hidden;
	}
	html .menu_img img{
		width:63px;
		height:63px;
	}
	html pinput_l{
		width:100.6px;
	}
	html .pinput input{
		width:218px;
	}
	html .ptext_n{
		width:320px
	}
	html .pinput_t{
		width:320px;
	}
}
@media(min-width:375px){
	html {
		font-size: 100px
	}
}
@media (min-width:390px){
	html{
		font-size: 105px
	}
}
@media (min-width:410px){
	html {
		font-size: 110.413px;
	}
}
@media(min-width:640px){
	html {
		font-size: 171px;
	}
	body{width:640px;margin:auto;}

}
.fl{float:left;}
.ri{float:right;}
.clear{clear:both;}
.banner img{
	width:100%;
	height:1.8rem;
}
.title1{
	font-size:0.2rem;
	line-height:0.26rem;
	width:2.69rem;
	height:0.52rem;
	margin-top:0.56rem;
	margin-left:0.57rem;
}
.title2{
	font-size:0.15rem;
	line-height:0.2rem;
	letter-spacing:0.006rem;
	text-align:center;
	color:rgb(98,98,98);
	margin-top:0.3rem;
}
.bitb{
	background:url(quote.svg);
	width:1.43rem;
	height:0.942rem;
	background-size:1.43rem 0.942rem;
	position:absolute;
	z-index:-100;
	margin-top:0.29rem;
	margin-left:1.155rem;
}
.titleb{
	width:100%;
	max-width:640px;
	height:2.35rem;
	background:rgb(247,247,247);
	position:absolute;
	z-index:-1000
}
.title3{
	font-size:0.24rem;
	line-height:0.32rem;
	letter-spacing:0.003rem;
	margin-top:0.07rem;
	text-align:center;
}
.title4{
	width:100%;
	font-size:0.2rem;
	text-align:center;
	margin-top:0.76rem;
}
.menu{
	width:100%;
	height:2.87rem;
	border-bottom:1px solid rgb(235,235,235);
}
.menu_bu{
	margin-top:0.21rem;
	margin-bottom:0.08rem;
	margin-left:0.213rem;
	/*width:0.66rem;*/
	width: 18%;
}
.menu_img img{
	width:0.66rem;
	height:0.66rem;
}
.menu_text{
	line-height:0.2rem;
	margin-top:0.12rem;
	text-align:center;
	font-size:0.14rem;
	color:rgb(98,98,98);
	width:0.66rem;
}
.fo_title{
	width:3.75rem;
	margin-top:0.77rem;
	text-align:center;
	font-size:0.2rem;
}
.pinput{
	margin-top:0.2rem;
	
}
.pinput input{
	background:rgb(247,247,247);
	color:#000000;
	font-size:0.15rem;
	border:0;
	
}
.pinput_l{
	font-size:0.17rem;
	line-height:0.48rem;
	width:0.75rem;
	padding-left:0.3rem;
	display:inline-block;
	letter-spacing:-0.004rem;
}
.pinput_r{
	/* margin-left:0.102rem;
	margin-top:0.12rem; */
	height:0.48rem;
	width:2.214rem;
	border-radius:0.04rem;
	padding-left:0.1rem;
}
.ptexta{
	font-size:0.17rem;
	padding-left:0.3rem;
	letter-spacing:-0.004rem;
	margin-top:0.33rem;
	line-height:0.22rem;
	position:relative;

}


.ptext_n{
	margin-top:0.15rem;
	width:3.35rem;
	height:1.57rem;
	border-radius:0.04rem;
	margin-left:0.2rem;
	background:rgb(247,247,247);
	color:#000000;
	font-size:0.15rem;
	border:0;
}
.note{
	position:absolute;
	width:3.35rem;
	color:rgb(200,199,199);
	font-size:0.15rem;
	top:0.5rem;
}
.pinput_t{
	margin-top:0.2rem;
	margin-left:0.2rem;
	width:3.35rem;
	height:0.48rem;
	background:rgb(245,51,74);
	font-size:0.18rem;
	letter-spacing:0.014rem;
	color:rgb(255,255,255);
	border:none;
	cursor: pointer;
}



